/* Google fonts imports to follow
1. Merriweather */

.merriweather {
  font-family: "Merriweather Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* 2. lato (for body etc) */

  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  /* BODY */ 

  /* Override Bootstrap font in the navbar because it looked too Apple-y  */ 
  .navbar, .navbar .nav-link, .navbar-brand { 
    font-family: "Lato", serif; 
  }
   
  .nav-link { 
    font-size: 16px;
  } 
  .navbar-brand { 
    font-size: 18px;  
  }

  .navbar-nav .nav-item .nav-link.active::before { 
    content: "\f043"; /* Font Awesome raindrop icon */ 
    font-family: 'Font Awesome 5 Free'; /* Ensure this matches the Font Awesome version you're using */ 
    font-weight: 900; /* Ensure this matches the Font Awesome version you're using */ 
    color: #e8f35e; /* Color of the icon */ 
  }

  .nav-item:hover {
    font-weight: bolder;
  }

  /* hero section for index */

  /* Hero Section Styling */
.hero-section {
  background-color: #ffffff; /* White background around the photo */
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.hero-content {
  padding: 20px;
  background-color: #6BBE44; /* Matches your logo's green color */
  color: #FFFFFF;
  text-align: center;
}

.hero-content h1 {
  font-size: 3em;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif; /* Bold and eye-catching */
}

.hero-content p {
  font-size: 1.5em;
  margin: 20px 0;
  font-family: 'Lato', sans-serif; /* Clean and highly readable */
}



.hero-button {
  background-color: #00AEEF; /* Light blue for buttons */
  color: #FFFFFF;
  padding: 15px 30px;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 20px 0;
}

.hero-button:hover {
  background-color: #007CA3;
}

.caps {
  text-transform: uppercase;
}


  /* Footer */
  footer {
    padding-top: 2rem;
  }

  #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  #social-networks i {
    font-size: 160%;
    padding: 5px;
    color: #3a3a3a;
  }

  #social-networks i:hover {
    font-weight: bold;
    color: #3a3a3a;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  /* Hero Section Styling */ 
  .hero-section { 
    background-color: #6BBE44; /* Matches your logo's green color */ 
    color: #FFFFFF; 
    text-align: center; 
    padding: 50px 20px; 
  } 

  .hero-content { 
    max-width: 800px; 
    margin: auto; 
  } 

  .hero-section h1 { 
    font-size: 3em; 
    margin: 0 0 20px; 
    font-family: 'Montserrat', sans-serif; /* Bold and eye-catching */ 
  } 

  .hero-section p { 
    font-size: 1.5em; 
    margin: 0 0 20px; 
    font-family: 'Lato', sans-serif; /* Clean and highly readable */ 
  } 

  .hero-button { 
    background-color: #00AEEF; /* Light blue for buttons */ 
    color: #FFFFFF; 
    padding: 15px 30px; 
    font-size: 1em; 
    text-decoration: none; 
    border-radius: 5px; 
    font-family: 'lato', sans-serif; 
    transition: background-color 0.3s ease; 
  } 

  .hero-button:hover { 
    background-color: #007CA3;
  }

  .lighter-green {
    color: #e8f35e;
  }

  .dark-green {
    color: #376704;
  }

  /* to make the body and footer nice without a lot of content */ 
  html, body { 
    height: 100%; 
    margin: 0; 
  } 

  .container { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
  } 

  /* Main to take up space */ 
  main { 
    flex: 1; 
  } 

  /* BODY !! BELOW HERO !! to make the "summary" h2 not there but keep accessibility */ 
  .what-is h2 {
    display: none;
  }

/* What is Safeguarding Section */
.what-is-vid {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.what-is-vid h2 {
  color: #6BBE44;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-wrapper iframe { 
  border: 0; 
  width: 100%; 
  max-width: 560px; 
  height: 315px; 
  border-radius: 10px; /* Optional: for rounded corners */ }

.what-is {
  background-color: #f8f9fa;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.what-is h2 {
  color: #6BBE44;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.what-is-box {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.what-is-box h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
  font-family: 'lato', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  font-size: 2em;
  color: #6BBE44;
  margin-bottom: 10px;
}

.grid-item h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.grid-item p {
  font-size: 1em;
  color: #555;
}

.what-is-box em {
  font-size: 1em;
  color: #555;
  display: block;
  margin-top: 20px;
}


  .learn-more-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }

  .learn-more-button.adults {
    background-color: #3a3a3a;
    color: #e8f35e;
  }

  .learn-more-button.children {
    background-color: #e8f35e;
    color: #3a3a3a;
  }

  .learn-more-button.adults:hover { 
    font-weight: bold; 
    box-shadow: 0 0 10px #3f3f3f; 
    text-decoration: none; 
  }

  .learn-more-button.children:hover { 
    font-weight: bold; 
    box-shadow: 0 0 10px #e8f35e; 
    text-decoration: none;
  }

  /* stories page */ 

  .hero-image-stories {
    width: 100%; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 20px; /* Space between the image and the heading */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }

  .testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px;
    position: relative;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-right: 20px;
  }

  .speech-bubble {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .speech-bubble::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
  }

  .speech-bubble::after {
    content: '';
    position: absolute;
    left: -22px;
    top: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    z-index: -1;
  }

  .speech-bubble h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }

  .speech-bubble p {
    margin: 10px 0 0;
    font-size: 1em;
    line-height: 1.5;
  }

  /* form styling hencefourth: */

  /* Flexbox container for the form */
.story-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form group styling */
.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* Submit button styling */
.submit-button {
  background-color: #6BBE44;
  color: white;
  padding: 15px 30px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5aa239;
}



  /* back to top button */

  #top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 5px; /* lightly Rounded corners */
    font-size: 10px;
    height: 30px;
    width: 30px;
    vertical-align: center;
    text-align: center;
    line-height: 30px; /* Vertically center the text */ 
    margin-bottom: 20px; /* Margin to avoid overlapping with the footer */
  }

  #top-button:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  #top-button i { 
    vertical-align: center; /* Vertically center the icon */ 
  }

  /* footer content */ 

footer { 
  text-align: center;
  max-height: 50px;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5px;
  color: #3a3a3a;
}

#social-networks i:hover {
  font-weight: bold;
  color: #3a3a3a;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* media queries to follow */
@media screen and (max-width: 994px) {
    .navbar-nav .nav-item {
      margin-left: 18px; /* Adjust this value to set the desired margin */
    }
    .navbar-nav .nav-item .nav-link {
      padding: 10px 15px;
      color: #000;
      text-align: left;
    }
  }

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .hero-button {
        padding: 10px 20px;
        font-size: 0.9em;
    }
    
    .testimonial {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-img {
        margin-bottom: 10px;
    }

    .speech-bubble {
        text-align: left;
    }
}

/* Responsive design for stories form  */
@media (max-width: 600px) {
  .story-form {
      padding: 10px;
  }

  .submit-button {
      width: 100%;
      padding: 15px;
  }
}

