/* Google fonts imports to follow
1. Merriweather */

.merriweather {
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 2. lato (for body etc) */
.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }



  /* BODY */ 

  /* Override Bootstrap font in the navbar bc it looked too Apple-y  */ 
  .navbar, .navbar .nav-link, .navbar-brand { 
    font-family: "Lato", serif; 
  }
   
  .nav-link { 
    font-size: 16px;
   } 
   .navbar-brand { 
    font-size: 18px;  
  }


.navbar-nav .nav-item .nav-link.active::before { 
  content: "\f043"; /* Font Awesome raindrop icon */ 
  font-family: 'Font Awesome 5 Free'; /* Ensure this matches the Font Awesome version you're using */ 
  font-weight: 900; /* Ensure this matches the Font Awesome version you're using */ 
  color: #e8f35e; /* Color of the icon */ }

.nav-item:hover {
  font-weight: bolder;
}


  /* Footer */
footer {
  padding-top: 2rem;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5px;
  color:#3a3a3a;
}

#social-networks i:hover {
  font-weight: bold;
  color: #3a3a3a;
  transition: all 0.3s ease;
  cursor: pointer;
}


/* Hero Section Styling */ 
.hero-section { 
  background-color: #6BBE44; 
  /* Matches your logo's green color */ 
  color: #FFFFFF; 
  text-align: center; 
  padding: 50px 20px; 
} 
.hero-content { 
  max-width: 800px; 
  margin: auto; 
} 
.hero-section h1 { 
  font-size: 3em; 
  margin: 0 0 20px; 
  font-family: 'Montserrat', sans-serif; /* Bold and eye-catching */ 
} 
.hero-section p { 
  font-size: 1.5em; 
  margin: 0 0 20px; 
  font-family: 'Open Sans', sans-serif; /* Clean and highly readable */ 
} 
.hero-button { 
  background-color: #00AEEF; /* Light blue for buttons */ 
  color: #FFFFFF; 
  padding: 15px 30px; 
  font-size: 1em; 
  text-decoration: none; 
  border-radius: 5px; 
  font-family: 'Open Sans', sans-serif; 
  transition: background-color 0.3s ease; 
} 
.hero-button:hover { 
  background-color: #007CA3

}
/* just to save the colours I'm going to use throughout, may not need to use class any way xxx */


.lighter-green {
  color: #e8f35e;
}

.dark-green {
  color: #376704;
}

/* icons that will come in handy later - obvs into html xx

.raindrop {
  display: <i class="fa-solid fa-droplet"></i>;
}

*/


/* to make the body and footer nice without a lot of content */ 
html, body { 
  height: 100%; 
  margin: 0; 
} 
.container { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
} 

/* Main to take up space pls  */
main { 
  flex: 1; 
} 

/* BODY !! BELOW HERO !!to make the "summary" h2 not there but keep accessibility / whatever that word was, traffic? search ratings? */ 
.what-is h2 {
  display: none;
}

.learn-more-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.learn-more-button.adults {
  background-color: #3a3a3a;
  color: #e8f35e;
}

.learn-more-button.children {
  background-color: #e8f35e;
  color: #3a3a3a;
}

.learn-more-button.adults:hover { 
  font-weight: bold; 
  box-shadow: 0 0 10px #3f3f3f; 
  text-decoration: none; /* bc the underline looks SO BAD repeated on children version x */
}

.learn-more-button.children:hover { 
  font-weight: bold; 
  box-shadow: 0 0 10px #e8f35e; 
  text-decoration: none;
}



/* stories page */ 
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 800px;
  position: relative;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-right: 20px;
}

.speech-bubble {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.speech-bubble::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  left: -22px;
  top: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent;
  z-index: -1;
}

.speech-bubble h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.speech-bubble p {
  margin: 10px 0 0;
  font-size: 1em;
  line-height: 1.5;
}



/* back to top button */

#top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #000; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 5px; /* lightly Rounded corners */
  font-size: 10px;
  height: 30px;
  width: 30px;
  vertical-align: center;
  text-align: center;
  line-height: 30px; /* Vertically center the text */ 
  margin-bottom: 20px; /* Margin to avoid overlapping with the footer */
}

#top-button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#top-button i { 
  vertical-align: center; /* Vertically center the icon */ 
}


/* !!! footer content */ 

footer { 
  text-align: center;
  max-height: 50px;
}


/* media queries to follow !!!!!!! */

@media screen and (max-width: 994px) {
  
.navbar-nav .nav-item {
  margin-left: 18px; /* Adjust this value to set the desired margin */
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #000;
  text-align: left;
}

}
  